[submodule "HeliosEngine/vendor/imgui"]
	path = HeliosEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "HeliosEngine/vendor/yaml-cpp"]
	path = HeliosEngine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "HeliosEngine/vendor/glfw"]
	path = HeliosEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "HeliosEngine/vendor/box2d"]
	path = HeliosEngine/vendor/box2d
	url = https://github.com/erincatto/box2d
[submodule "vendor/premake-vscode"]
	path = vendor/premake-vscode
	url = https://github.com/Enhex/premake-vscode.git
[submodule "vendor/premake-cmake"]
	path = vendor/premake-cmake
	url = https://github.com/Jarod42/premake-cmake.git
[submodule "HeliosEngine/vendor/entt"]
	path = HeliosEngine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "HeliosEngine/vendor/json"]
	path = HeliosEngine/vendor/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "HeliosEngine/vendor/xxhash"]
	path = HeliosEngine/vendor/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "HeliosEngine/vendor/libwebp"]
	path = HeliosEngine/vendor/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "HeliosEngine/vendor/spirv-reflect"]
	path = HeliosEngine/vendor/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
