[submodule "HeliosEngine/vendor/imgui"]
	path = HeliosEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "HeliosEngine/vendor/yaml-cpp"]
	path = HeliosEngine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "HeliosEngine/vendor/glfw"]
	path = HeliosEngine/vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
